DB_HOST=127.0.0.1
DB_NAME=nro
DB_USER=root
DB_PASS=
DB_HOST2=127.0.0.1
DB_NAME2=nro
DB_USER2=root
DB_PASS2=
GAME_ADMIN_HOST=127.0.0.1
GAME_ADMIN_PORT=4424
PARTNER_KEY_S1=
PARTNER_ID_S1=
PARTNER_KEY_S2=
PARTNER_ID_S2=
ACB_TOKEN=
ACB_TOKEN_FILE=
